# Aula 08 - Laços de repetição For e While

**Bibliografia**


FORBELLONE, André Luiz Villar.; EBERSPACHER, Henri Frederico. Lógica de Programação: a construção de algoritmos e estruturas de dados. 3ª ed.. São Paulo/SP: Pearson Prentice Hall, 2005. pág. 48-61

PERKOVIC, Ljubomir. Introdução à Computação Usando Python - Um Foco no Desenvolvimento de Aplicações.. [Minha Biblioteca]. pág. 151-152 e 138-147

## Laço de repetição While

In [7]:
x = 5

In [8]:
while x < 10:
    print(x)
    x += 1

5
6
7
8
9

## Laço de repetição For

In [4]:
lista_numeros = [1,2,3,4,5,6,7,8,9]

In [5]:
for numero in lista_numeros:
    print(numero)

1
2
3
4
5
6
7
8
9

In [18]:
nomes = ["anderson", "fernando", "daniel", "carlos", "paulo"]

In [19]:
#foreach do Java
for nome in nomes:
    print(nome)

anderson
fernando
daniel
carlos
paulo

In [20]:
#for tradicional
for nome in range(0,(len(nomes))):
    print(str(nome) + " " + str(nomes[nome]))

0 anderson
1 fernando
2 daniel
3 carlos
4 paulo

## Introdução à listas

"Listas são coleções ordenadas, portanto você pode acessar qualquer elemento de uma lista informando a posição - ou índice - do item desejado ao interpretador Python"

In [26]:
nomes = ["Messias", "Emanuel", "Miguel", "João"]

In [27]:
print(nomes)

['Messias', 'Emanuel', 'Miguel', 'João']

### Acessar o elemento de uma lista

In [10]:
print(nomes[0])

Messias

In [11]:
print(nomes[3])

João

In [12]:
print(nomes[-2])

Miguel

### Alterando elementos de uma lista

In [13]:
frutas = ["pêra", "uva", "maçã", "kiwi"]

In [14]:
print(frutas)

['pêra', 'uva', 'maçã', 'kiwi']

In [15]:
frutas[1] = "abacate"

In [16]:
print(frutas)

['pêra', 'abacate', 'maçã', 'kiwi']

### Adicionando elementos de uma lista

**Função append()**
Concatena um elemento ao final da lista.

In [17]:
frutas.append("abacaxi")

In [18]:
print(frutas)

['pêra', 'abacate', 'maçã', 'kiwi', 'abacaxi']

In [19]:
frutas.append("banana")

In [20]:
print(frutas)

['pêra', 'abacate', 'maçã', 'kiwi', 'abacaxi', 'banana']

**Concatenação com +** é possível, caso você precise concatenar uma lista com outra.

In [21]:
frutas = frutas + ["melancia", "mamão", "côco"]

In [22]:
print(frutas)

['pêra', 'abacate', 'maçã', 'kiwi', 'abacaxi', 'banana', 'melancia', 'mamão', 'côco']

**O método insert()** ajuda você a adicionar um elemento em qualquer posição desejada.

In [23]:
frutas.insert(2, "laranja")

In [24]:
print(frutas)

['pêra', 'abacate', 'laranja', 'maçã', 'kiwi', 'abacaxi', 'banana', 'melancia', 'mamão', 'côco']

### Removendo elementos de uma lista

**A instrução del()** pode remover um item da lista passando como parâmetro sua posição. Lembre-se, para isso você deve conhecer a posição do item na lista. Você pode pesquisar a índice (posição) de um item da lista com a função **index()**

In [25]:
print(frutas)

['pêra', 'abacate', 'laranja', 'maçã', 'kiwi', 'abacaxi', 'banana', 'melancia', 'mamão', 'côco']

In [26]:
frutas.index("abacaxi")

5

In [27]:
del frutas[5]

del alunos][]

In [28]:
print(frutas)

['pêra', 'abacate', 'laranja', 'maçã', 'kiwi', 'banana', 'melancia', 'mamão', 'côco']

Com o método **pop()** é possível utilizar um valor mesmo após removê-lo da lista. Este método trabalha a lista como se fosse uma pilha, então ele remove o último elemento da lista por *default*.

In [29]:
print(frutas)

['pêra', 'abacate', 'laranja', 'maçã', 'kiwi', 'banana', 'melancia', 'mamão', 'côco']

In [30]:
poped_frutas = frutas.pop()

In [31]:
print(frutas)

['pêra', 'abacate', 'laranja', 'maçã', 'kiwi', 'banana', 'melancia', 'mamão']

In [32]:
print(poped_frutas)

côco

O método **pop()** também pode ser utilizado para remover qualquer elemento da lista. Desde que seja passado como parâmetro o índice do item que deseja remover.

In [33]:
frutas.index("abacate")

1

In [34]:
fruta_remove = input("Digite a fruta que você quer remover: ")

Digite a fruta que você quer remover: abacate

In [35]:
frutas.pop(frutas.index("abacate"))
#frutas.pop(1)

'abacate'

In [36]:
print(frutas)

['pêra', 'laranja', 'maçã', 'kiwi', 'banana', 'melancia', 'mamão']

O método **remove()** é utilizando quando se deseja remover um item da lista pelo seu valor.

In [37]:
print(frutas)

['pêra', 'laranja', 'maçã', 'kiwi', 'banana', 'melancia', 'mamão']

In [38]:
frutas.remove("banana")

In [39]:
print(frutas)

['pêra', 'laranja', 'maçã', 'kiwi', 'melancia', 'mamão']

## Exercícios

**Questão 1** - Faça um programa que verifique e mostre os números entre 1.000 e 2.000 (inclusive) que, quando divididos por 11 produzam resto igual a 5.

In [40]:
x = 1000

In [41]:
while x <= 2000:
    
    if (x % 11) == 5:
        print(x)
    
    x += 1

1006
1017
1028
1039
1050
1061
1072
1083
1094
1105
1116
1127
1138
1149
1160
1171
1182
1193
1204
1215
1226
1237
1248
1259
1270
1281
1292
1303
1314
1325
1336
1347
1358
1369
1380
1391
1402
1413
1424
1435
1446
1457
1468
1479
1490
1501
1512
1523
1534
1545
1556
1567
1578
1589
1600
1611
1622
1633
1644
1655
1666
1677
1688
1699
1710
1721
1732
1743
1754
1765
1776
1787
1798
1809
1820
1831
1842
1853
1864
1875
1886
1897
1908
1919
1930
1941
1952
1963
1974
1985
1996

**Questão 2** - Faça um programa que mostre as tabuadas dos números de 1 a 10.

In [48]:
x = 0
y = 0

In [49]:
while x <= 10:
    
    while y <= 10:
        
        result = x * y
        
        print(str(x) + " x " + str(y) + " = " + str(result))
        
        y += 1
        
    x += 1
    y = 0

0 x 0 = 0
0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
0 x 10 = 0
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

**Questão 3** - Faça um programa que receba a idade de dez pessoas e que calcule e mostre a quantidade de pessoas com idade maior ou igual a 18 anos.

In [55]:
idades_pessoas = []

In [56]:
x = 0

In [57]:
while x < 10:
    
    idades_pessoas.append(int(input("Digite a sua idade: "))) 
    
    if idades_pessoas[x] >= 18:
        print("Você é de MAIOR!")
    else:
        print("Você é de MENOR!")
    
    x += 1

Digite a sua idade: 10
Você é de MENOR!
Digite a sua idade: 18
Você é de MAIOR!
Digite a sua idade: 2
Você é de MENOR!
Digite a sua idade: 56
Você é de MAIOR!
Digite a sua idade: 89
Você é de MAIOR!
Digite a sua idade: 456
Você é de MAIOR!
Digite a sua idade: 15
Você é de MENOR!
Digite a sua idade: 12
Você é de MENOR!
Digite a sua idade: 8
Você é de MENOR!
Digite a sua idade: 6
Você é de MENOR!

In [58]:
quantidade = 0

In [60]:
for i in idades_pessoas:
    if i >= 18:
        quantidade += 1

In [61]:
print(quantidade)

4

**Questão 4** - Faça um programa que receba um número e que calcule e mostre a tabuada desse número.

In [65]:
numero_tabuada = int(input("Digite um número: "))

Digite um número: 89

In [66]:
multiplicador = 0

while multiplicador <= 10:
    
    result = numero_tabuada * multiplicador
    
    print(str(numero_tabuada) + " x " 
          + str(multiplicador) + " = " + str(result))
    
    multiplicador += 1

89 x 0 = 0
89 x 1 = 89
89 x 2 = 178
89 x 3 = 267
89 x 4 = 356
89 x 5 = 445
89 x 6 = 534
89 x 7 = 623
89 x 8 = 712
89 x 9 = 801
89 x 10 = 890

**Questão 5** - Armazene os nomes de alugns de seus amigos em uma lista chamada amigos. Exiba o nome de cada pessoa acessando cada elemento da lista um de cada vez.

**Questão 6** - Utilizando a lista do exercício anterior, exiba uma saudação ("Olá como vai você"), personalizado com o nome de cada amigo. A saudação deve ser a mesma, alterando apenas o nome do amigo.

**Questão 7** - Seja criativo ao desenvolver este programa.

- Crie uma lista de convidados para um jantar em sua casa, com pelo menos 5 celebridades.
- Envie um convite para cada uma dessas pessoas. Com a mesma mensagem e nome personalizado.
- Sabendo que uma dessas pessoas não poderá ir ao seu jantar, você deverá enviar novos convites. Imprima o nome das pessoas que não poderão comparecer.
- Modifique sua lista, substitua os desistentes por novos convidados.
- Exiba um novo convite para cada pessoa que continua presente em sua lista.

**Questão 8** - Faça um cadastro de usuários com nome, idade e email, utilizando apenas o que você aprendeu até agora.